<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Cinystore | Keep It Short|Do's and Don'ts
    </title>
    {% extends "kis_institute_base.html" %}
    {% load static %}
</head>

<body>
{% block header %}
<div class="kis-content-text-scroll-container" style="margin-top: -50px;">
    <div class="kis-do-dont-bg-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6" style="padding-right: 30px;">
                    <h1>Do's
                        <span style="color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                            </svg>
                        </span>
                    </h1>
                    <div class="kis-do-container">
                        <h2>Diverse Talents:
                            <span class="kis-do-container-span">
                                Assemble a team with a mix of skills – from directing and editing to cinematography and storytelling.
                            </span>
                        </h2>
                        <h2>Team Dynamics:
                            <span>
                                Nominate members who communicate effectively, work well under pressure, and bring positive energy to the table.
                            </span>
                        </h2>
                        <h2>Commitment to Excellence:
                            <span>
                                Choose team members dedicated to delivering top-notch work, adhering to deadlines, and embracing the spirit of the contest.
                            </span>
                        </h2>
                        <h2>Inclusive Collaboration:
                            <span>
                                Encourage diversity and inclusivity within your team, fostering a creative environment where every voice is valued.
                            </span>
                        </h2>
                        <h2>Cinematic Passion:
                            <span>
                                Nominate individuals who share a genuine love for filmmaking and are excited to contribute their best to the project.
                            </span>
                        </h2>
                    </div>
                </div>
                <div class="col-12 col-md-6" style="padding-left: 30px;">
                    <h1>Don'ts
                        <span style="color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                                <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.38 1.38 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51q.205.03.443.051c.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.9 1.9 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2 2 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.2 3.2 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.8 4.8 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591"/>
                              </svg>

                         </span>
                    </h1>
                    <div class="kis-do-container">
                        <h2>Lone Rangers:
                            <span>
                                Avoid nominating individuals who prefer working in isolation. The contest thrives on teamwork!
                            </span>
                        </h2>
                        <h2>Communication Gaps:
                            <span>
                                Steer clear of team members who struggle with effective communication or fail to address conflicts constructively.
                            </span>
                        </h2>
                        <h2>Procrastination Pals:
                            <span>
                                Nominate those committed to timely and efficient work, minimizing the risk of last-minute chaos.
                            </span>
                        </h2>
                        <h2>Creative Dominance:
                            <span>
                                Say no to team members who aren’t open to collaborative input or disregard the ideas of others.
                            </span>
                        </h2>
                        <h2>Negative Energy:
                            <span>
                                Keep negativity at bay by nominating individuals who contribute to a positive and uplifting team atmosphere.
                            </span>
                        </h2>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>
{% endblock %}

</body>
</html>