<!DOCTYPE html>
{% extends "kis_login_base.html" %}
{% load static %}
<html lang="en">

<body>
{% block header %}
    <div class="kis-institute-welcome-bg-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="kis-institute-welcome-text-container">
                        <h1>Follow These Steps to Register for the Ultimate Contest:</h1>
                        <div>
                            <h3>Log In to Your Institute Account</h3>
                             <p>Enter your credentials to access your Institute account, make sure to complete the registration process first.</p>
                        </div>
                        <div>
                            <h3>Wait for Confirmation of your account</h3>
                             <p>We generally take not more than 48 hours for reviewing your details and respond. If we need to contact you for any further details, we would be contacting on the email id or phone number shared in the application submitted</p>
                        </div>
                        <div>
                            <h3>Approval or Rejection Authority:</h3>
                            <p>Cinystore retains the exclusive right to either approve or reject an Institute application based on the details provided and the corresponding documentation.</p>
                            <p>Any rejection of an Institute is aimed at maintaining the integrity of the participants' pool. It is specifically designed to prevent the inclusion of entities that may not be genuine, have not achieved recognition, or possess falsified information with malicious intent.</p>
                        </div>
                        <div>
                            <h3>Navigate to the Team Creation Section</h3>
                            <p>Once logged in, head to the dedicated contest section within your dashboard. Look for the "Create Team" button – create an opportunity to your Students for cinematic stardom.</p>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-5">
                    <div class="kis-institute-welcome-right-bg-container">

                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
</body>
</html>