<!DOCTYPE html>
{% extends "kis_login_base.html" %}
{% load static %}
<html lang="en">

<body>
{% block header %}
    <div class="kis-do-dont-bg-container">
        <h1>Do's</h1>
        <div class="kis-do-container">
            <h2>Diverse Talents:
                <span>
                    Assemble a team with a mix of skills – from directing and editing to cinematography and storytelling.
                </span>
            </h2>
            <h2>Team Dynamics:
                <span>
                    Nominate members who communicate effectively, work well under pressure, and bring positive energy to the table.
                </span>
            </h2>
            <h2>Commitment to Excellence:
                <span>
                    Choose team members dedicated to delivering top-notch work, adhering to deadlines, and embracing the spirit of the contest.
                </span>
            </h2>
            <h2>Inclusive Collaboration:
                <span>
                    Encourage diversity and inclusivity within your team, fostering a creative environment where every voice is valued.
                </span>
            </h2>
            <h2>Cinematic Passion:
                <span>
                    Nominate individuals who share a genuine love for filmmaking and are excited to contribute their best to the project.
                </span>
            </h2>
        </div>
        <h1>Don'ts</h1>
        <div class="kis-do-container">
            <h2>Lone Rangers:
                <span>
                    Avoid nominating individuals who prefer working in isolation. The contest thrives on teamwork!
                </span>
            </h2>
            <h2>Communication Gaps:
                <span>
                    Steer clear of team members who struggle with effective communication or fail to address conflicts constructively.
                </span>
            </h2>
            <h2>Procrastination Pals:
                <span>
                    Nominate those committed to timely and efficient work, minimizing the risk of last-minute chaos.
                </span>
            </h2>
            <h2>Creative Dominance:
                <span>
                    Say no to team members who aren’t open to collaborative input or disregard the ideas of others.
                </span>
            </h2>
            <h2>Negative Energy:
                <span>
                    Keep negativity at bay by nominating individuals who contribute to a positive and uplifting team atmosphere.
                </span>
            </h2>
        </div>

    </div>


{% endblock %}

</body>
</html>